.hobby {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .hobby .item {
    height: 25vh;
  
  }
  
  .hobby .item {
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hobby .item:nth-of-type(1) {
    background-image: url(../images/spacer.jpg);
  }
  
  .hobby .item:nth-of-type(2) {
    background-image: url(../images/OgladanieNieba.jpg);
  }
  
  .hobby .item:nth-of-type(3) {
    background-image: url(../images/liga.jpg);
  }
  
  .hobby .item:nth-of-type(4) {
    background-image: url(../images/spotkanie.jpg);
  }
  
  
  .hobby p {
    font-family: 'saira', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    /* padding: 5px 0; */
  }
  
  .hobby h1 {
    font-family: 'saira condensed', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
  }

  @media (min-width: 1024px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
      }

    .hobby p {
      padding: 0;
      line-height: 40vh;
      opacity: 0;
      transition: 1s;
      cursor: default;
    }
  
    .hobby .item:hover p {
      opacity: 1;
    }
  
    .hobby .item {
      background-size: 100%;
      transition: 1s;
    }
  
    .hobby .item:hover {
      background-size: 130%;
    }
  
  }